node_modules/
backup/
bruno/
extra/
scripts/
vendor/
db/
dist/htdocs/css/
dist/htdocs/js/
dist/htdocs/index.php
dist/htdocs/api/testemail.php
dist/htdocs/api/classes/testing.php
package-lock.json
*OLD.js
*.code-workspace
install.sh
composer.phar
src/js/pages/testing.js
src/js/pages/test/
dist/etc/db.php
dist/etc/email.php
*.old
