.env
.vscode/
node_modules/
bruno/
db/
db/local_session.sql
dist/build_info.json
dist/htdocs/css/
dist/htdocs/js/
dist/htdocs/index.php
dist/htdocs/api/testemail.php
dist/htdocs/api/classes/testing.php
dist/etc/db.php
dist/etc/email.php
vendor/
package-lock.json
scripts/deploy-*
