[submodule "dist/htdocs/api/phpCAS"]
	path = dist/htdocs/api/phpCAS
	url = https://github.com/apereo/phpCAS.git
[submodule "src/images/svg-spinners"]
	path = src/images/svg-spinners
	url = git@github.com:n3r4zzurr0/svg-spinners.git
