/* App Styles */
main { margin-top: 5rem }

/* center on page */
.center-page {
  width:100vw;
  height:100vh;
  display:grid;
  justify-content: center;
  align-content: center;
}
.center-page p { text-align:center }

/* set font-family for heading levels */
h1,h2,h3,h4,h5,h6 { font-family: Arvo, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

/* force white text links to be color #fff */
a.text-white:hover,a.text-white:focus { color: #fff !important }

/* smaller font */
.font-size-95 { font-size: 95% }
.font-size-90 { font-size: 90% }

/* spin animation class for iconify icons */
.spin {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

/* hover effect on nav-links */
.navbar-dark .navbar-nav .nav-link:hover, 
.navbar-dark .navbar-nav .nav-link:focus { color: #fff }
.nav-link {position:relative}
.nav-link:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 0.15rem;
  bottom: 0.3rem;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out; 
}
.nav-link:hover:before{
  visibility: visible;
  transform: scaleX(1);
}
.nav-link.active:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.15rem;
  bottom: 0.3rem;
  left: 0;
  background-color: #FFF;
  visibility:visible;
}

.toTop {
  position:fixed;
  bottom: 2rem;
  right: 2rem;
  opacity:0.9;
}

.button-group button { 
  margin-right: 0.5rem;
  display: flex;
  gap: 0.3rem;
  padding: 0.6rem;
}
button svg.iconify { 
  display: inline; 
  font-size: 22px;
}

.droplist {
  height: 50vh;
  overflow-y:scroll;
  padding: 0.5rem;
  border: 1px solid #999;
  border-radius: 5px;
}
.droplist.over {
  background-color: #dcf5ff;
}
.droplist div {
  background-color:#cecece;
  margin: 0.3rem;
  padding: 0.3rem;
  border: 1px solid #aaa;
  border-radius: 3px;
}
.droplist div:hover {
  background-color: #bcc2bc;
}
.droplist div.dragging {
  background-color: #90ee90;
}
.dlh1{
  grid-area:dlh1;
  padding:0.3rem;
  font-weight:700;
}
.dlh2{
  grid-area:dlh2;
  padding:0.3rem;
  font-weight:700;
}
.dl1{grid-area:dl1}
.dl2{grid-area:dl2}

.drag-col-2 {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 0 1rem;
  grid-template-areas:  "dlh1 dlh2"
                        "dl1  dl2";
}

#listData-editor {
  font-family:"Lucida Console","Courier New","Courier",monospace;
  background-color:#393939;
  color:#eee;
}

.slugHint {
  font-weight: bold;
  cursor: pointer;
  font-family: 'Lucida Console','Courier New', Courier, monospace;
}

/* Jodit editor source view font size fix */
.editor-container .jodit-source * { font-size: 18px }

/* SUNY Account styles */
#col-SUNYAccount div.rbt {
  width: 400px;
}
.split-account-table tbody tr td:nth-child(1) {
  width: 80px;
  text-align: center;
}
.split-account-table tbody tr td:nth-child(2) {
  width: auto;
}
.split-account-table tbody tr td:nth-child(3) {
  width: 100px;
}
.split-account-table tbody tr td:nth-child(3) input {
  text-align:right;
}
.split-account-table tbody tr td button {
  padding: 2px 4px 1px;
}
/* hide number input spinner (see: https://www.geeksforgeeks.org/how-to-disable-arrows-from-number-input/) */
.split-account-table input::-webkit-outer-spin-button,
.split-account-table input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.split-account-table input[type=number]{
  -moz-appearance: textfield;
}

@media (max-width:992px) {
  .drag-col-2 {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    grid-template-areas:  "dlh1"
                          "dl1"
                          "dlh2"
                          "dl2";
  }    
}

@media (max-width: 639px) {
  .button-group button {
      display: flex;
      align-items: center;
      flex-direction:column;
      justify-content: center
  }
}