@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

$enable-responsive-font-sizes: true;

$h3-font-size: $font-size-base * 1.7;

$main:#004333;
//$nav:rgba($main,.9);
$accent: #6BC04B;
$accent2: #90669c;
$light:#669c8e;
$white:#fff;

$pct:20%;

$theme-colors: (
  "main":$main,
  "nav":$main,
  "white":$white,
  "accent":$accent,
  "accent2":$accent2,
  "light":$light,
  "primary":scale-color($primary,$lightness:$pct*-1),
  "danger":scale-color($danger,$lightness:$pct*-1),
  "warning":scale-color($warning,$lightness:$pct*-1),
  "success":scale-color($success,$lightness:$pct*-1),
  "info":scale-color($info,$lightness:$pct*-1),
  "primary-light":scale-color($primary,$saturation:-30%,$lightness:50%),
  "info-light":scale-color($info,$saturation:-30%,$lightness:50%),
  "success-light":scale-color($success,$saturation:-30%,$lightness:50%),
  "warning-light":scale-color($warning,$saturation:-30%,$lightness:50%),
  "danger-light":scale-color($danger,$saturation:-30%,$lightness:50%),
  "secondary-light":scale-color($secondary,$saturation:-30%,$lightness:50%),
);

$table-hover-bg: rgba($main, .15);

$navbar-dark-color:           rgba($white, .75);
$navbar-dark-hover-color:     rgba($white, .9);
$navbar-dark-active-color:    $white;
$navbar-dark-disabled-color:  rgba($white, .4);

$input-placeholder-color: #aaa;

$box-shadow-sm: 0 .125rem .25rem rgba($black, .175);
$box-shadow: 0 .5rem 1rem rgba($black, .35);
$box-shadow-lg: 0 1rem 3rem rgba($black, .40);


@import "../../node_modules/bootstrap/scss/bootstrap";

/* DataTables Formatting (n.b.: placed here to make use of SCSS variables)*/
.rdt_Table {
  border: 2px solid $main;
  border-radius: 3px
}
.rdt_Table .rdt_TableHeadRow {
  background-color: $main
}
.rdt_Table .rdt_TableHeadRow .rdt_TableCol {
  color: $white;
  font-size: 1rem
}
.rdt_Table .rdt_TableHeadRow .rdt_TableCol_Sortable,
.rdt_Table .rdt_TableHeadRow .rdt_TableCol_Sortable:hover {
  color: $white;
}
.rdt_Table .rdt_TableBody .rdt_TableRow {
  font-size: 0.9rem;
}
/* Compact/Smaller DataTable */
.compact .rdt_Table .rdt_TableBody .rdt_TableRow {
  font-size: 0.8rem;
}
.compact .rdt_Table .rdt_TableHead .rdt_TableCol,
.compact .rdt_Table .rdt_TableBody .rdt_TableCell {
  padding: 0 5px;
}
.compact .rdt_Table .rdt_TableHeadRow .rdt_TableCol {
  font-size: 0.9rem
}


/* Override DatePicker to be block */
.react-datepicker-wrapper {
  display: block;
}

// Add class `.custom-switch-lg` to a `custom-switch`
.custom-switch.custom-switch-lg {
  padding-bottom: 1rem;
	padding-left: 2.25rem;
  
  & .custom-control-label {
    padding-left: .75rem;
    padding-top: 0.15rem;

    &::before {
      border-radius: 1rem;
      height: 1.5rem;
      width: 2.5rem;
    }

    &::after {
			border-radius: .65rem;
      height: calc(1.5rem - 4px);
      width: calc(1.5rem - 4px);
    }
  }
	.custom-control-input:checked ~ .custom-control-label::after{
    transform: translateX(1rem);
  }
}

/*@import './src/css/styles.css'*/

